@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Bessere Lesbarkeit auf WebKit-Browsern */
}
